@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-kanit: "Kanit";
  --font-prompt: "prompt";
  --font-archivo: "Archivo Black";
}

@theme {
  --color-lick: #b4d518;
  --color-goodBrown: rgba(180, 213, 24, 0.3);
  --color-tik: rgba(107, 118, 86, 0.5);
  --color-lightTik: rgba(107, 118, 86, 0.3);
  --color-bact: rgba(17, 17, 17, 0.4);
  --font-p: "prompt";
  --font-a: "Archivo Black";
}
@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation */
h1,
h2,
h3,
h4,
p,
span,
button {
  animation: slideInUp 1.9s ease-out forwards;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
}
.navigator li {
  display: inline-block;
  margin-left: 30px;
}
#header.scrolled {
  background-color: black;
}
p {
  font-family: var(--font-prompt);
}
h3,
h4 {
  font-family: var(--font-prompt);
}
h2 {
  font-family: var(--font-archivo);
}
.swiper-pagination-bullet-active {
  background-color: #b4d518 !important;
}
.swiper-pagination {
  margin-top: 15px;
  position: relative !important;
}
.plans p {
  font-size: 15;
  font-weight: 300;
}
.plans h2 {
  font-size: 40;
}
.plans h3 {
  font-size: 30;
}
.plans li {
  display: flex;
  justify-content: center;
}
.second {
  color: white;
}
::placeholder {
  opacity: 1;
}
.info h3 {
  margin-bottom: 25;
}
.info div {
  text-align: center;
}

/* CAROUSEL */
.card span {
  font-family: prompt;
  font-weight: 400;
  font-size: larger;
  padding-top: 6;
}
.card ul {
  margin-top: 10;
}
.card div {
  padding: 0 16;
  height: 163px;
}
.card h2 {
  font-size: 2.25rem;
}

/* services */
.our-services article {
  margin: 10;
  box-shadow: 0 5px 40px -5px rgb(0 0 0 /10%);
}
.our-services img {
  width: 70;
  height: 70;
}
.our-services h2 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: var(--font-prompt);
  font-weight: 500;
}

.what div {
  padding: 15;
}
.what span {
  font-family: var(--font-prompt);
}

.wrapper-of-all-three div {
  text-align: center;
}
.wrapper-of-all-three h2 {
  font-size: 30;
}

/* ft */
.freetrial {
  font-family: var(--font-prompt);
}
.freetrial input {
  padding: 30 20;
}
.freetrial label {
  margin-bottom: 10;
}
.ft h1,h2 {
  font-family: var(--font-prompt);
  margin-bottom: 16px;
}
.head {
  color: #b4d518;
  font-size: small;
}
.line {
  height: 0.5px;
  width: 34px;
  background-color: #b4d518;
}
